<script>
/**
 * Generic button to act as input for user actions such as click on widgets or forms.
 */
export default {
  props: {
    /** Should be used in most interactions. */
    primary: {type: Boolean, default: false},
    /** Should be used as an alternative, but not nudged, action, such as cancel vs accept. */
    secondary: {type: Boolean, default: false},
    /** Should be used to draw the attention of the user towards something dangerous or important, such as a confirm delete button. */
    alert: {type: Boolean, default: false},
  },
  computed: {
    classes() {
      return {
        'storybook-button': true,
        'storybook-button--primary': this.primary,
        'storybook-button--secondary': this.secondary,
        'storybook-button--alert': this.alert,
      };
    }
  }
};
</script>

<template>
  <button type="button" :class="classes" @click="$emit('click')">
    <slot>Default label</slot>
  </button>
</template>

<style>
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: #333;
  padding: 10px;
}
.storybook-button--primary {
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  background-color: #2dd;
}
.storybook-button--alert {
  background-color: #d34;
}
</style>