<script>
import MyButton from './components/Button.vue'

export default {
  components: {MyButton},
}
</script>

<template>
  <div id="app">
    <my-button primary>Button text</my-button>
  </div>
</template>
